@font-face {
    font-family: sfprodisplay_blackitalic;
    src:url(../Fonts/SFPRODISPLAYBLACKITALIC.otf)
}

@font-face {
    font-family: sfprodisplay_regular;
    src:url(../Fonts/SFPRODISPLAYREGULAR.OTF)
}

@font-face {
    font-family: sfprodisplay_medium;
    src:url(../Fonts/SFPRODISPLAYMEDIUM.OTF)
}

@font-face {
    font-family: sfprodisplay_bold;
    src: url(../Fonts/SFPRODISPLAYBOLD.OTF);
}

@font-face {
    font-family: sfprodisplay_lightitalic;
    src: url(../Fonts/SFPRODISPLAYLIGHTITALIC.OTF);
}

#login-signup-container h1 {
    font-family: sfprodisplay_blackitalic;
}

h1 {
    font-family: sfprodisplay_blackitalic;
}

h2 {
    font-family: sfprodisplay_bold;
}    

h3 {
    font-family: sfprodisplay_regular;
}

p {
    font-family: sfprodisplay_medium;
}


/* Startup Page */

#start-up {
   background-color: #0365fa;
   height: 100vh;
   width: 100vw;
   margin: 0;
   padding: 0;
}

#start-up a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  
}



.startup-bg img {
    width: 211px;
    height: 103px;
}

/*-------------------*/

/*Login-Signup Page*/
 
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar-logo {
    width: 40px;
    height: 40px;
}

#menu-icon {
    width: 24px;
    height: 4px;
}

#login-signup-container {
    display: flex;
    flex-direction: column;
}

.login-signup-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25vh;
}

.welcome-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15vh;
}

.welcome-header h1 {
    font-size: 50px;
    margin: 0px;
}

.welcome-header h3 {
    font-size: 25px;
}

.login-signup-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login-signup-buttons button {
    background-color: #0365fa;
    width: 300px;
    height: 40px;
    border-radius: 14px;
    font-size: 15px;
    border: none;
    color: #ffffff;
}

.login-signup-buttons button:hover {
    background-color: #0056b3;
}

.login-signup-login-button, .login-signup-signup-button {
    font-family: sfprodisplay_bold;
}

/*------------------*/

/*login Page*/

.login-container {
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 5vh;
    width: 100%;
    height: 100vh;
}

.login-container nav{
    margin: 8px 8px 0;
}

.login-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.login-header .in {
    color: #0365fa;
}

.login-header h1 {
    font-size: 50px;
}


.login-body {
    position: relative;
    height: 72.345971563981042654028436018957vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-body::before {
    content: "";
    background-color: #d9d9d9;
    border-radius: 20px 20px 0 0;
    opacity: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.login-body form {
    display: flex;
    flex-direction: column;
    gap: 17px;
    width: 80%;
    margin: 0;
    justify-content: center;
}

.back-arrow {
    width: 20px;
}

.username-input, .password-input {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

#username, #password {
    margin: 0;
    padding-left: 40px;
    box-sizing: border-box;
    width: 100%;
}

.username-fieldset, .password-fieldset {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.password-fieldset {
    position: relative;
}

.username-fieldset img {
    position: absolute;
    width: 20px;
    height: 20px;
    padding: 10px;
    padding-right: 0;
}

.password-fieldset img {
    position: absolute;
    width: 20px;
    height: 20px;
    padding: 10px;
}

#visible-icon {
    display: visible;
    right: 0;
}

#visible-icon:hover {
    cursor: pointer;
}

#invisible-icon {
    display: none;
}

.username p, .password p {
    margin: 6px 0;
}

.username-input input, .password-input input {
    width: 100%;
    height: 4.7393364928909952606635071090047vh;
    border-radius: 20px;
    border: none;
    padding: 0;
}


.login-button {
    background-color: #0365fa;
    border: 0;
    border-radius: 20px;
    width: 100%;
    height: 40px;
    color: #ffffff;
    font-size: 15px;
    font-family: sfprodisplay_bold;
    box-sizing: border-box;
}

.login-button:hover {
    cursor: pointer;
    background-color: #0056b3;
}

.login-form hr {
    border: none;
    height: 1px;
    width: 100%;
    background-color: #9c9c9c;
}

.login-form {
    max-width: 500px;
}

.sign-up-link a:hover {
    color: #0056b3;
}

/*------------------*/

/* signup Page */

.signup-container {
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 5vh;
    position: relative;
    width: 100%;
    height: 100vh;
}

.signup-container nav{
    margin: 8px 8px 0;
}

.login-header .up {
    color: #0365fa;
}

.email-fieldset {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 6px;
}

.email-fieldset img{
    position: absolute;
    width: 20px;
    height: 20px;
    padding-left: 10px  ;
}

.email-input {
    display: flex;
    flex-direction: column;
}

#email {
    box-sizing: border-box;
    margin: 0;
    padding-left: 40px;

    /*Add padding right same with the user and password */
}

.email p {
    margin: 6px 0;
}

.email-input input {
    border: 0;
    border-radius: 15px;
    width: 100%;
    height: 40px;
}

.terms-condition-link {
    display: flex;
    gap: 5px;
}

#terms-condition-checkbox {
    width: 20px;
    height: 20px;
}

.terms-condition-link p {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 5px;
}

.terms-condition-link a {
    text-decoration: none;
    color: #0365fa;
}

/* ----------------- */

.window {
   height: 100%;
   width: 100%;
   position: absolute;
   backdrop-filter: blur(4px);
   visibility: hidden;
}

.modal {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    height: 500px;
    border-radius: 30px;
    padding: 20px;
    margin: 0;
    position: absolute;
    left: 5.0048717948717948717948717948718%;
    right: 5.0048717948717948717948717948718%;
    top: 15.0048717948717948717948717948718%;
    bottom: 15.0048717948717948717948717948718%;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

.modal-content {
    height: 76%;
}

.close-btn {
    display: flex;
    position: fixed;
    justify-content: end;
    margin-bottom: 20px;
}

.close-btn img {
    width: 20px;
    height: 20px;
}

.modal-terms {
    padding: 0 20px 0 20px;
    overflow-y: scroll;
    height: 100%;
}

.modal-terms p {
    font-family: sfprodisplay_regular;
}

.modal-terms li {
    font-family: sfprodisplay_regular;
}

.modal-footer {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 30px 10px 0;
}

.modal-footer p {
    margin: 0;
}

#modal-checkbox {
    width: 20px;
    height: 20px;
    margin: 0;
}

.accept-button {
    background-color: #0365fa;
    border: 0;
    border-radius: 15px;
    width: 100%;
    height: 40px;
    color: #ffffff;
    font-size: 15px;
    font-family: sfprodisplay_bold;
    margin: 32px 0 0;
    padding: 0;
}

/* -------/MODAL---------- */

.signup-button {
    background-color: #0365fa;
    border: 0;
    border-radius: 15px;
    width: 100%;
    height: 40px;
    color: #ffffff;
    font-size: 15px;
    font-family: sfprodisplay_bold;
    margin: 32px 0 ;
    padding: 0;
}

.sign-up-link p {
    margin-bottom: 0px;
}

.sign-up-link a {
    color: #0365fa;
    text-decoration: none;
}


/**------------------/

/*-------home-page-------*/



.window-home-page {
    height: 100%;
    width: 100%;
    position: absolute;
    backdrop-filter: blur(4px);
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    visibility: hidden;
    align-self: start;
    justify-content: end;
}

.user-modal {
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    width: 40%;
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    margin: 20px 20px 0 0;
    gap: 30px;
    
}



.user-modal hr {
    border: none;
    height: 1px;
    width:  80%;
    background-color: #9c9c9c;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 5px;
}

.user-info  img {
    width: 30px;
    height: 30px;
}


#signout-button  {
    background-color: #0365fa;
    border: none;
    max-width: 125px;
    width: 80%;
    height: 30px;
    border-radius: 15px;
    font-family: sfprodisplay_bold;
    color: white;
}

#signout-button:hover  {
    cursor: pointer;
    background-color: #0056b3;
}

.user-menu-container {
    position: relative;
    background-color: #d9d9d9;
    width: 114px;
    height: 33px;
    border-radius: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-menu {
    display: flex; 
    align-items: center;
    justify-content: space-around; 
    gap: 6px;
}

.user-menu:hover {
    cursor: pointer;
}

.user-icon {
    width: 20px;
    height: 20px;
}

.user-menu p {
    margin: 0;
    font-family: sfprodisplay_regular;
    font-size: 11px;
}

.down-icon {
    width: 20px;
    height: 20px;
}

.location {
    display: flex;
    margin: 20px 0 5px;
    gap: 5px;
}

.location img {
    width: 18px;
    height: 18px;
}

.location p {
    font-family: sfprodisplay_lightitalic;
    font-size: 12px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.search-bar {
    display: flex;
    position: relative;
    justify-content: start;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

#search {
    width: 100%;
    height: 40px;
    border-radius: 20px;
    border: 0;
    background-color: #d9d9d9;
    box-sizing: border-box;
    padding-left: 42px;
    font-family: sfprodisplay_regular;
}

.search-icon {
   position: absolute;
   left: 21px;
}

.search-icon div {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.search-icon img {
    position: absolute;
}

#search-icon {
    width: 15px;
    height: 15px;
    
}

#ellipse-search-icon {
    width: 30px;
    height: 30px;
}
/*--------Slider----------*/
.slider {
    position: relative;
    width: 100%;
    max-width: 600px; /* Adjust as needed */
    margin: auto;
    overflow: hidden;
    border-radius: 20px; /* Optional: for rounded corners */
}

.slides {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    position: relative; /* This makes the button position relative to the slide */
    min-width: 100%;
}

.slide-content {
    display: flex;
    flex-direction: column; /* Stack the image and button vertically */
    justify-content: flex-end; /* Align items to the bottom */
    height: 300px; /* Set a fixed height for the slide content */
    position: relative; /* Ensure the content is positioned relative for absolute positioning of the button */
}

.slide-content a {
    font-family: sfprodisplay_regular;
}


.slide-image {
    width: 100%; /* Ensure the image takes the full width */
    height: 100%; /* Ensure the image takes the full height of the container */
    object-fit: cover; /* Maintain aspect ratio and cover the area */
    border-radius: 20px; /* Optional: for rounded corners */
}

.slide-button {
    position: absolute; /* Position the button absolutely within the slide content */
    bottom: 20px; /* Space from the bottom */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust to center the button */
    background-color: #0365fa; /* Blue background */
    color: white; /* Text color */
    padding: 10px 30px; /* Padding for the button */
    border: none;
    border-radius: 50px; /* Make the button oval */
    text-decoration: none; /* Remove underline from link */
    font-size: 16px; /* Font size */
    transition: background-color 0.3s; /* Transition for hover effect */
}

.slide-button:hover {
    background-color: #025bb5; /* Darker blue on hover */
}

.slider-buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
   
}

.slider-buttons button {
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    cursor: pointer;
    width: 40px; /* Set a fixed width */
    height: 40px; /* Set a fixed height equal to width */
    border-radius: 50%; /* Make it a circle */
    font-size: 18px; /* Font size */
    display: flex; /* Use flexbox to center the icon/text */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    transition: background-color 0.3s; /* Transition for hover effect */
   
}
.slider-buttons button:first-child {
    margin-left: 5px; /* Remove left margin for the first button */
}

.slider-buttons button:last-child {
    margin-right: 5px; /* Remove right margin for the last button */
}
.slider-buttons button:hover {
    background-color: rgba(255, 255, 255, 1); /* Change background on hover */
}
.sections {
    width: 100%;
    height: 77.014218009478672985781990521327%;
    margin: 17px 0;
}

.sectiongroup-1 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 4.8px;
}

.sectiongroup-1 div a div{
    width: 30vw;
}

.food-container p, .hotel-container p, .tourist-spot-container p, .souvenirs-container p, .contact-container p {
    text-align: center;
}

.food-container {
    width: 90px;
    height: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.food {
    background-color: #d9d9d9;
    width: 118.13333333333333333333333333333px;
    height: 90px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.food img {
    width: 40px;
    height: 40px;
}

.food-container p {
    font-size: 12px;
    margin: 6px 0 0;
}

.hotel-container {
    width: 90px;
    height: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hotel {
    background-color: #d9d9d9;
    width: 118.13333333333333333333333333333px;
    height: 90px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hotel img {
    width: 40px;
    height: 40px;
}

.hotel-container p {
    font-size: 12px;
    margin: 6px 0 0;
}

.tourist-spot-container {
    width: 90px;
    height: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tourist-spots {
    background-color: #d9d9d9;
    width: 118.13333333333333333333333333333px;
    height: 90px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tourist-spots img {
    width: 40px;
    height: 40px;
}

.tourist-spot-container p {
    font-size: 12px;
    margin: 6px 0 0;
}

.sectiongroup-2 {
    display: flex;
    justify-content: space-around;
}

.sectiongroup-2 div a div{
    width: 45vw;
}

.souvenirs-container {
    width: 90px;
    height: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.souvenirs {
    background-color: #d9d9d9;
    width: 182.2px;
    height: 90px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.souvenirs img {
    width: 40px;
    height: 40px;
}

.souvenirs-container p {
    font-size: 12px;
    margin: 6px 0 0;
}

.contact-container {
    width: 90px;
    height: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact {
    background-color: #d9d9d9;
    width: 182.2px;
    height: 90px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact img {
    width: 40px;
    height: 40px;
}

.contact-container p {
    font-size: 12px;
    margin: 6px 0 0;
}   
/*Best for you Feature*/
.best-section {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between; 
}

.best-label {
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Center items vertically */
    margin-bottom: 0;
    margin-left: 5%; /* Space below the label */
    justify-content: space-between;
}

.best-title {
    font-family: sfprodisplay_regular;
    font-size: 18px; 
    font-weight: bold; 
}

.see-all {
    text-align: right;
    font-family: sfprodisplay_regular;
    font-size: 18px; /* Adjust font size as needed */
    color: #0365fa; /* Change color for the "See All" text */
    cursor: pointer; /* Change cursor to pointer for interactivity */
    padding: 5px 10px; /* Add padding for a better touch area */
    margin: 0; /* Push "See All" to the right */
    margin-right: 5%;
}
.sectiongroup1, .sectiongroup2 {
    display: flex; 
    flex-direction: column; 
    width: 49%;
}

.section1, .section2, .section3, .section4 {
    background-color: #d9d9d9;
    width: 100%;
    height: 200px; /* Fixed height for the section */
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Align items to the top */
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    overflow: hidden;
}

.section-image-container {
    width: 100%; /* Full width of the section */
    height: 80%; /* Fixed height for the image container */
    overflow: hidden;
    display: flex; /* Use flex to center the image */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
}

.section-image {
    width: 100%; /* Set width to 100% of the container */
    height: 100%; /* Set height to 100% of the container */
    object-fit: cover; /* Maintain aspect ratio while covering the container */
    border-radius: 10px;
}
.section-title {
    margin-top: 10px; 
    font-family: sfprodisplay_regular;
    font-size: 14px; 
    text-align: center; 
}

.rating {
    margin-top: 5px; /* Space between title and rating */
    font-size: 25px; /* Font size for the rating */
    color: #FFD700; /* Gold color for stars */
    text-align: center; /* Center the rating text */
}
/*------------------*/

/*------------section pages----------*/

footer.expanded {
    height: 0;
    width: 100%;
}

.section-container.expanded {
    height: 2,707.125px;
    overflow: visible;
}

.content.expanded {
    height: 2,707.125px;
    overflow: visible;
}

.section-window {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.home-section-pages {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 50px;
    margin-bottom: 20px;
    overflow-x: scroll;
}

.home-section-pages a{
    text-decoration: none;
    color: #000;
}

.home-section-pages::-webkit-scrollbar {
    display: none;
} 

.home-section-pages p {
    font-size: 11px;
    font-family: sfprodisplay_medium;
    margin: 11px;
    text-align: center;
}

.home-section-pages a div {
    display: flex;
}

.food-section, .hotel-section, .tourist-spot-section, .home-section, 
.souvenirs-section, .contact-section {
    background-color: #d9d9d9;
    display: flex;
    align-items: center;
    border-radius: 20px;
}

.food-section:hover, .hotel-section:hover, .tourist-spot-section:hover, .home-section:hover, 
.souvenirs-section:hover, .contact-section:hover {
   background-color: #9c9c9c;
}

.home-section {
    left: 10px;
}

.tourist-spot-section p {
    width: 59px;
}

.local-brands-section p {
    width: 58px;
}

.contact-section {
    margin-right: 10px;
    width: 64px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: scroll;
    align-items: center;
    padding-top: 10px;
}

.content li, p {
    font-family: sfprodisplay_regular;
    
}

.content-base-1, .content-base-2, .content-base-3,
.content-base-4, .content-base-5, .content-base-6,
.content-base-7, .content-base-8, .content-base-last{
    height: 390px;
    display: flex;
    justify-content: center;
    transition: height 0.5s ease;
}

.content-1, .content-2, .content-3, .content-4,
.content-5,.content-6, .content-7, .content-8,
.content-last {

    height: 390px;
    width: 95%;
    border-radius: 20px;
    border: none;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.40);
    transition: height 0.5s ease;
}

.content-base-1.expanded, .content-1.expanded,
.content-base-2.expanded, .content-2.expanded,
.content-base-3.expanded, .content-3.expanded,
.content-base-4.expanded, .content-4.expanded,
.content-base-5.expanded, .content-5.expanded,
.content-base-6.expanded, .content-6.expanded,
.content-base-7.expanded, .content-7.expanded,
.content-base-8.expanded, .content-8.expanded,
.content-base-last.expanded, .content-last.expanded {
    height: 500px;
}

.content-1.expanded, .content-2.expanded,
.content-3.expanded, .content-4.expanded,
.content-5.expanded, .content-6.expanded,
.content-7.expanded, .content-8.expanded,
.content-last.expanded {
    display: flex;
    
}

.description-container-1.expanded, .description-container-2.expanded,
.description-container-3.expanded, .description-container-4.expanded, 
.description-container-5.expanded, .description-container-6.expanded, 
.description-container-7.expanded, .description-container-8.expanded, 
.description-container-last.expanded {
    height:  66.666666666666666666666666666667%;
    top: 33.333333333333333333333333333333%;
    position: absolute;
    overflow: scroll;;
    border-radius: 10px 10px 0 0;
    width: 97.1%;
}

.description-container-1.expanded button, .description-container-2.expanded button,
.description-container-3.expanded button, .description-container-4.expanded button, 
.description-container-5.expanded button, .description-container-6.expanded button, 
.description-container-7.expanded button, .description-container-8.expanded button, 
.description-container-last.expanded button{
    width: 30%;
    height: 30px;
    background-color: #0365fa;
    border: none;
    border-radius: 15px;
    color: white;
}

.description-container-1.expanded button:hover, .description-container-2.expanded button:hover,
.description-container-3.expanded button:hover, .description-container-4.expanded button:hover, 
.description-container-5.expanded button:hover, .description-container-6.expanded button:hover, 
.description-container-7.expanded button:hover, .description-container-8.expanded button:hover, 
.description-container-last.expanded button:hover {
    cursor: pointer;
    background-color: #0056b3;
}

.description-container-1 button, .description-container-2 button,
.description-container-3 button, .description-container-4 button,
.description-container-5 button, .description-container-6 button, 
.description-container-7 button , .description-container-8 button,
.description-container-last button {
    width: 30%;
    height: 30px;
    background-color: #0365fa;
    border: none;
    border-radius: 15px;
    color: white;
}


.image-container-1.expanded, .image-container-2.expanded,
.image-container-3.expanded, .image-container-4.expanded,
.image-container-5.expanded, .image-container-6.expanded,
.image-container-7.expanded, .image-container-8.expanded,
.image-container-last.expanded {
    justify-content: start;
}

.content-1 h3, .content-2 h3, .content-3 h3,
.content-4 h3, .content-5 h3, .content-6 h3, 
.content-7 h3, .content-8 h3, .content-last h3 {
    font-family: sfprodisplay_blackitalic;
}

.content-1 h3, p, .content-2 h3, p, .content-3 h3, p,
.content-4 h3, p, .content-4 h3, p, .content-6 h3, p, 
.content-7 h3, p, .content-8 h3, p, .content-last h3, p {
    width: 100%;
}

.content-1, .content-2, .content-3,
.content-4, .content-5, .content-6, 
.content-7, .content-8, .content-last {
    position: absolute;
}

.image-container-1, .image-container-2,
.image-container-3, .image-container-4, 
.image-container-5, .image-container-6,
.image-container-7, .image-container-8,
.image-container-last {
    box-sizing: border-box;
    border-radius: 10px;
    height: 66.666666666666666666666666666667%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 10px 0;
    overflow: hidden;
}

.image-container-1 img, .image-container-2 img,
.image-container-3 img, .image-container-4 img,
.image-container-5 img, .image-container-6 img,
.image-container-7 img, .image-container-8 img,
.image-container-last img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}   

.description-container-1, .description-container-2,
.description-container-3, .description-container-4,
.description-container-5, .description-container-6, 
.description-container-7, .description-container-8,
.description-container-last {
    height: 33.333333333333333333333333333333%;
    background-color: white;
    border-radius: 0  0 10px 10px;
    margin: 0 10px 10px;
    padding: 0 10px 10px;
    overflow: hidden;
    transition: height 0.5s ease;
}
/* Booking Modal styling */
.booking-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s;
}

.booking-modal.visible {
    visibility: visible;
    opacity: 1;
}

.booking-modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    position: relative;
    width: 80%;
    max-width: 400px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.booking-full-name, .booking-phone-number, .booking-checkin-date, .booking-checkout-date, .room-type {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: auto;
    gap: 5px;
}

.booking-check-dates {
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: auto;
}

#check-in, #check-out {
}

#hotel-book-form label {
    display: block;
    margin: 10px 0 5px;
    font-family: sfprodisplay_regular;
}

#room-type {
    width: 100%;
    height: 40px;
    border-radius: 15px;
    border: 1px solid #ccc;
    padding: 8px;
    font-family: sfprodisplay_regular;
}

#hotel-booking-form input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 15px;
    height: 20px;
}

#hotel-booking-form {
    font-family: sfprodisplay_regular;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.book-now-btn {
    padding: 10px 20px;
    background-color: #0365fa;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.book-now-btn:hover {
    background-color: #0056b3;
}
.hotel-booking-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s;
}
/* Booking Hotel Modal styling */
.hotel-booking-modal.visible {
    visibility: visible;
    opacity: 1;
}

.hotel-booking-modal-content {
    background: white;
    padding: 40px;
    border-radius: 15px;
    position: relative;
    width: 90%;
    max-width: 400px;
    box-sizing: border-box;
}

.hotel-booking-modal-content h2 {
    margin: 50px 0;
    text-align: center;
    font-family: sfprodisplay_blackitalic;
}

.hotel-book-now-btn {
    padding: 10px 20px;
    background-color: #0365fa;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 20px;
}

.hotel-book-now-btn:hover {
    background-color: #0365fa
}

/*---------Contacts---------*/

.inquiries-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inquiries-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: auto;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    padding: 20px;
    border-radius: 15px;
    margin-top: 10px;
}

.inquiries-body h1 {
    text-align: center;
}

.contact-info {
    height: 40vh;
    overflow-y: scroll;
}

.contact-info p {
    font-family: sfprodisplay_regular;
}

.contact-info li {
    font-family: sfprodisplay_regular;
}

#partner-button{
    background-color: #0365fa;
    border: 0;
    border-radius: 15px;
    width: 50%;
    height: 40px;
    color: #ffffff;
    font-size: 15px;
    font-family: sfprodisplay_bold;
    margin: 32px 0 ;
    padding: 0;
}

#partner-button:hover {
    cursor: pointer;
    background-color: #0056b3;
}

.partner-link {
    text-decoration: none;
    color: #fff;
}

/*--------------------*/

/*-------partner with us-------*/

.navbar-form img {
    width: 20px;
    margin: 0;
    padding: 0;
}

.nav-bar h3 {
    margin: 0;
}

.top-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 10px;
}

.business-name input, .business-type input, 
.location-form input, .owners-name input, 
.business-license-num input  {
    border: 1px solid #9c9c9c;
    width: 100%;
    height: 40px;
    border-radius: 15px;
    padding: 0;
    padding: 10px;
    box-sizing: border-box;
}

#partner-submit-button {
        background-color: #0365fa;
        border: 0;
        border-radius: 15px;
        width: 50%;
        height: 40px;
        color: #ffffff;
        font-size: 15px;
        font-family: sfprodisplay_bold;
        margin:  10px ;
        padding: 0;
}

#partner-submit-button:hover {
    cursor: pointer;
    background-color: #0056b3;
}

/*----------------------------*/
/* Modal forgot password styles */
/* Modal General Styling */

/* Style for the modal backdrop */
.forgot-password-link {
    display: flex;
    justify-content: end;
    align-content: center;
}

.forgot-password-link span {
    text-decoration: none;
    font-family: sfprodisplay_regular;
}

.forgot-password-modal {
    display: none; /* Initially hide the modal */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    justify-content: center; /* Align modal horizontally in the center */
    align-items: center; /* Align modal vertically in the center */
    z-index: 1000;
}

.modal-header {
    display: flex;
    justify-content: space-between;
}

#forgot-modal-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* Style for the modal content */
.forgot-password-modal .modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
}

/* Forgot Password Text */
.forgot-password-text {
    color: #007bff;
    font-size: 16px;
    cursor: pointer;
    text-decoration: underline;
}

.forgot-password-text:hover {
    color: #0056b3;
}

/* Input Box Styling */
.forgot-password-modal input[type="email"],
.forgot-password-modal input[type="password"] {
    width: 90%;
    max-width: 350px;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

/* Modal Header */
.modal-header h2 {
    font-size: 22px;
    color: #333;
    margin-bottom: 10px;
}

.modal-header img {
    width: 20px;
    height: 20px;
}

.modal-header div {
    width: 10px;
    height: 10px;
    background-color: #fff;
}

/* Modal Body */

#forgot-modal-content {
    border-radius: 20px;
}

#forgot-modal-content .modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#forgot-modal-content .modal-body input {
    border-radius: 20px;
}

.modal-body p {
    color: #666;
    margin: 10px 0 5px;
    text-align: left;
}

.modal-footer {
    margin: 0;
    display: flex;
    justify-content: center;
}

/* Modal Footer */
.modal-footer button {
    width: 90%;
    max-width: 350px;
    padding: 12px;
    margin: 0;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.modal-footer button:hover {
    background-color: #0056b3;
}


/* Responsive Design */
@media (max-width: 480px) {
    .forgot-password-modal .modal-content {
        padding: 15px;
    }

    .forgot-password-modal input[type="email"],
    .forgot-password-modal input[type="password"],
    .modal-footer button {
        font-size: 14px;
    }
}

@media (min-width: 1024px) {
    /*Sign up*/

    .modal {
        height: 500px;
        width: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    }

    /*----*/
}

@media (min-width: 1440px) {
    .login-body {
        height: 100vh;
    }
    .login-body::before {
        border-radius: 30px 30px 0 0;
    }
    .back-arrow {
        width: 1.589vw;
    }

    .username-input input, .password-input input, .email-input input {
        border-radius: 30px;
    }

    #user-icon, #key-icon, #visible-icon {
        width: 1.80vw;
        height: 1.80vw;
    }

    .login-button {
        height: 4.741vh;
        border-radius: 30px;
    }

    .login-header h1 {
        font-size: 4.741rem;
        margin: 0;
    }

    /*Sign up*/
    
    .modal {
        height: 500px;
        width: 50%;
        top: 50%;
        left: 50%;
        padding: 40px;
        transform: translate(-50%, -50%);
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    }

    .signup-body {
        all: unset;
    }

    .close-btn {
        right: 40px;
        top: 40px;
    }

    /*----*/

    /*search*/

    #search {
        height: 50px;
        border-radius: 30px;
        padding-left: 48px
    }

    #ellipse-search-icon {
        width: 2.5vw;
        height: 2.5vw;
        margin-left: 6px;
    }
    
    #search-icon {
        margin-left: 6px;
    }



    /*--*/

    /*section*/

    .home-section-pages {
        height: 40px;
        display: flex;
        justify-content: space-between;
    }

    .home-section-pages a div {
        height: 40px;
        width: 15vw;
    }

    .home-section-pages a div p {
        font-size: 1rem;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    /*---*/

    /*content*/


    /*--*/

    /*inquiries*/

    .inquiries-body {
        width: 30%;
    }

    #partner-submit-button {
        width: 20%;
    }

    /*--*/

}

